# Basic Data Manipulation

In [1]:
# (Import Dependencies)
import pandas_datareader.data as web
import pandas as pd
import numpy as np
from talib import RSI, BBANDS
import matplotlib.pyplot as plt

In [2]:
# Download Data
start = '2015-04-22'
end = '2021-02-19'

symbol = 'MCD'
max_holding = 100
price = web.DataReader(name=symbol, data_source='quandl', start=start, end=end)
price.head(9)

,Open,High,Low,Close,Volume,ExDividend,SplitRatio,AdjOpen,AdjHigh,AdjLow,AdjClose,AdjVolume
Date,,,,,,,,,,,,
2018-03-27,158.50,159.7655,156.47,157.48,3194878.0,0.0,1.0,158.50,159.7655,156.47,157.48,3194878.0
2018-03-26,156.21,158.2000,156.21,158.01,3419642.0,0.0,1.0,156.21,158.2000,156.21,158.01,3419642.0
2018-03-23,157.59,158.0800,154.92,154.98,3337592.0,0.0,1.0,157.59,158.0800,154.92,154.98,3337592.0
2018-03-22,157.85,159.1200,156.85,157.04,3646979.0,0.0,1.0,157.85,159.1200,156.85,157.04,3646979.0
2018-03-21,160.00,160.4100,158.29,158.66,3494739.0,0.0,1.0,160.00,160.4100,158.29,158.66,3494739.0
2018-03-20,159.75,160.6700,159.25,159.38,3034736.0,0.0,1.0,159.75,160.6700,159.25,159.38,3034736.0
2018-03-19,162.00,162.3600,158.21,159.01,4031469.0,0.0,1.0,162.00,162.3600,158.21,159.01,4031469.0
2018-03-16,161.88,163.2300,161.58,162.36,13580136.0,0.0,1.0,161.88,163.2300,161.58,162.36,13580136.0
2018-03-15,158.71,162.1500,158.59,161.61,5715337.0,0.0,1.0,158.71,162.1500,158.59,161.61,5715337.0